<%- include("header") -%>

<div class="box" id="heading">
  <h1> <%= listTitle %> </h1>
</div>

<div class="newlist">
  <form class="" action="/customroute" method="post">
    <input type="text" name="newListInput" value="" placeholder="Create new list here..." class="newlistBtn">
    <button type="submit" name="createNewList">+</button>
  </form>
</div>

<div class="box">
  <%  newListItems.forEach(function(item){ %>

  <form action="/delete" method="post">
    <div class="item">
      <input type="checkbox" name="checkbox" value="<%=item._id%>" onChange="this.form.submit()">
      <div class="nameAndTime">
        <p><%=item.name%></p>
        <div class="time">


        <% if(item.time && item.time2){ %>
        <p><%= new Date(item.time).toLocaleTimeString()%></p>

        <p>to</p>

        <p><%= new Date(item.time2).toLocaleTimeString()%></p>
        <% } %>
  </div>

      </div>

    </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
  </form>
  <%  }) %>


  <form class="item" action="/create" method="post">
    <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
    <input type="datetime-local" name="newTime1" placeholder="" autocomplete="off" >
    <input type="datetime-local" name="newTime2" placeholder="" autocomplete="off" >
    <!-- <input name="newItem" type="time"> -->
    <button type="submit" name="list" value="<%= listTitle %>">+</button>
  </form>
</div>


<%- include("footer") -%>
